.advantages__list {
  padding-left: 110px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 14px;
  padding-right: 20px;
}

.advantages__item {
  width: 180px;
  line-height: 16px;
  text-align: left;
}

.advantages__link {
  padding: 1px;
  font-size: 11px;
  line-height: 4px;
  letter-spacing: 2px;
  .open-sans;
  text-decoration: none;
  text-transform: uppercase;
  color: @black;
}
