.main-nav {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 680px;
  list-style: none;
}

.main-nav__item {
  width: 80px;
}

.main-nav__item--active:hover{
  color: @brown;
}

.main-nav__link {
  text-decoration: none;
  font-size: 13px;
  font-weight: normal;
  word-wrap: normal;
  color: @black;
}

.main-nav__account-link {
  text-decoration: none;
    font-size: 13px;
  font-weight: normal;
  word-wrap: normal;
  color: @black;

}

.main-nav__favorites-link{
  text-decoration: none;
    font-size: 13px;
  font-weight: normal;
  word-wrap: normal;
  color: @black;
}
