.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;;
  width: 315px;
}

.product__title {
  .open-sans;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.product__image-container {
  height: 260px;
  display: flex;
  align-items: center;
}

.product__text-container {
  min-height: 218px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__brand {
  .open-sans;
  margin: 0;
  font-size: 13px;
}

.product__type {
  .open-sans;
  margin: 0;
  font-size: 13px;
}

.product__gender {
  .open-sans;
  margin: 0;
  margin-bottom: 5px;
 font-size: 13px;
}

.product__price {
  .open-sans;
  font-weight: bold;
  font-size: 13px;
}
